# Python virtual environment
venv/
.venv/
env/

# Environment secrets
.env
*.env
!.env.example

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Testing / Pytest artifacts
.pytest_cache/
.coverage